@code {
    [Parameter]
    public DeploymentParams DP { get; set; }

    [Parameter]
    public EventCallback<DeploymentParams> NotifyParentOfStateChange { get; set; }

    private List<DeploymentParams>? Params { get; set; }

    private DataManager dataManager = DataManager.Instance;

    private string ExeLabel { get; } = "Exe:";
    private string UrlLabel { get; } = "Url:";

    private bool IsUrl(DeploymentParams p) => p.Type == ProcessType.Url;
    private bool IsExe(DeploymentParams p) => p.Type == ProcessType.Exe;
    private void SwitchType(DeploymentParams p) => p.Type = p.Type == ProcessType.Exe ? ProcessType.Url : ProcessType.Exe;

    private bool IsSelected(Executable exe, string selectedPath)
    {
        string decodedSelectedPath = WebUtility.UrlDecode(selectedPath);
        bool b = exe.Path == decodedSelectedPath;
        return b;
    }


    public void TestClick(DeploymentParams p)
    {
        DeploymentOrder dp = new("Test", new List<DeploymentParams> { p });
        ProcessManager.ExecuteProcesses(dp);
    }

    private async void DeleteClick(DeploymentParams p)
    {
        await NotifyParentOfStateChange.InvokeAsync(p);
        StateHasChanged();
    }

    private string getRadioName()
    {
        return "radioOptions" + DP.GetHashCode();
    }


    protected override void OnAfterRender(bool firstRender)
    {
        // Log relevant information for debuggin
        System.Diagnostics.Debug.Print($"P: {DP.Exe} {DP.Args}");
        base.OnAfterRender(firstRender);
    }


}

<tr>
    <td>
        <input type="radio" id="exe" name=@getRadioName() checked="@IsExe(DP)" @onchange="()=>SwitchType(DP)" />
        <label for="option1">Exe</label>

        <input type="radio" id="url" name=@getRadioName() checked="@IsUrl(DP)" @onchange="()=>SwitchType(DP)" />
        <label for="option2">Url</label>
    </td>
    <td>

        <!-- Exe -->
        <div hidden="@(!IsExe(DP))">
            <div class="centered-content">
                <span>
                    <label>@ExeLabel</label>
                    <select @bind=DP.Exe>
                        @foreach (var exe in dataManager.State.Executables)
                        {
                            if (IsSelected(exe, DP.Exe))
                            {
                                <option value="@exe.Path" selected>@exe.Name</option>

                            }
                            else
                            {
                                <option value="@exe.Path">@exe.Name</option>
                            }
                        }
                    </select>
                </span>
                <span>
                    <label>Args:</label> <input @bind=DP.Args />
                </span>
            </div>
        </div>

        <!-- Url -->
        <div hidden="@(IsExe(DP))">
            <label>@UrlLabel</label>
            <input @bind:event="oninput" @bind=DP.Exe />
        </div>

    </td>
    <td>
        <span>
            <button class="btn-primary" @onclick="() => TestClick(DP)">Test</button>
            <button class="btn-primary" @onclick="() => DeleteClick(DP)">Delete</button>
        </span>
    </td>
</tr>